# required python=2.7
# For ros kinetic or melodic
pre-commit
numpy
pycryptodomex
pyyaml
gnupg
rospkg
opencv-python==4.2.0.32
imageio==2.6

# checking code
pylint==1.7.6
hacking

# data
gdown
h5py



